<a href="/teams"><button type="button">Team Index</button></a>
<a href="/players"><button type="button">Players Index</button></a>


<h1>Teams</h1>

<% @teams.each do |team| %>
   <h3><a href="/teams/<%= team.id %>"><%= team.name %></a></h3>
   <p>Created: <%= team.created_at %></p><br/>
<% end %>

