<a href="/"><button type="button">Premier League Home</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<hr class="solid">

<h1>Add New Team</h1>

<form action=<%= "/teams" %>  method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Team Name:</p>
    <input type='text' name='name' /><br/>
    <p>Team State:</p>
    <input type='text' name='state'/><br/>
    <p>Premier League Position:</p>
    <input type='number' name='champ_position'/><br/>
    <p>Hiring:</p>
    <input type='text' name='hiring_players' placeholder='e.g. true or false'/><br/><br>
    <button type="submit" name="create_team">Add Team</button></form>
</form>
