<a href="/"><button type="button">Premier League Home</button></a>
<a href="/players"><button type="button">Players Index</button></a>
<a href="/teams"><button type="button">Teams Index</button></a>
<hr class="solid">

<h1>Welcome to the Premier League!</h1>

<div>
    <h3><ul>
        <li><a href="/teams">Teams Index</a></li>
        <li><a href="/teams/new">Add New Team</a></li>
    </h3></ul>
</div>
<div>
    <h3><ul>
        <li><a href="/players">Players Index</a></li>
        <li><a href="/players/new">Add New Player</a></li>
    </h3></ul>
</div>