<h1>Welcome to the Premier League</h1>

<ul>
   <li><a href="/teams">Team Index</a></li>
   <li><a href="/players">Player Index</a></li>
   <li><a href="/teams/new">New Team</a></li>  
   <li><a href="/player/new">New Player</a></li>
</ul>